*{
  padding: 0;
  margin: 0;
  font-family: 'josefin sans', sans-serif;
  box-sizing: border-box;
}
 span{
  color: red;
}
nav ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    
}
